.buyitem {
  margin-top: 2rem;
}

.music {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #584c46;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.poseshow {
  margin: 2rem;
}

.yogatext {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem;
  margin: 2rem;
  gap: 5rem; */
  color: #8e8885;
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 1rem;
  line-height: 23px;
}

.yogatext h1 {
  padding-top: 3rem;
  margin: 2rem;
  margin-top: 1rem;
  font-family: "quiche-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #584c46;
  font-size: 3rem;
  text-align: center;
}
.yogatext {
  display: flex;
  flex-direction: column;
  /* padding-top: 3rem; */
  margin: 2rem;
  gap: 5rem;
  color: #8e8885;
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 23px;
}

.smallProduct {
  /* background-color: rgba(251, 251, 251, 0.579);
  padding: 2rem; */
  padding-bottom: 1rem;
  border-bottom: 1px solid;
  color: #584c46;
}

.grid2 {
  margin: 2rem;
}

.yogaimg a {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}

.section1 {
  scroll-padding-bottom: 1rem;
}

.dl_info {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  color: #8e8885;
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  margin: 2rem;
  /* padding: 8%; */
  row-gap: 3rem;
}

.section2 {
  margin: 2rem;
}

.posesection {
  margin: 1rem;
}

.section1 {
  margin: 2rem;
}

.music div {
  text-align: center;
}

.music img {
  padding-bottom: 3rem;
  width: 50%;
  height: auto;
}

.music button {
  margin-top: 3rem;
  border-radius: 50px;
  border: 1px solid;
  padding: 1rem 1rem;
  text-align: center;
  display: inline-block;
  border-color: #584c46;
  font-size: 1rem;
  color: #584c46;
  background-color: transparent;
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@media (min-width: 800px) {
  .posetext {
    display: flex;
    flex-direction: column;
  }

  .steps {
    padding-bottom: 5rem;
  }

  .music img {
    width: 20%;
    height: auto;
  }

  .posename {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .music {
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 5rem;
    border-top: 1px solid #584c46;
  }

  .yogaimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .yogaimg img {
    width: 100%;
    object-fit: cover;
    height: 700px;
    padding-top: 2rem;
  }
  .yogatext h1 {
    padding-top: 3rem;
    margin: 2rem;
    margin-top: 1rem;
    font-family: "quiche-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #584c46;
    font-size: 3rem;
    text-align: center;
  }
  .yogatext {
    display: flex;
    flex-direction: column;
    /* padding-top: 3rem; */
    margin: 2rem;
    gap: 5rem;
    color: #8e8885;
    font-family: "mr-eaves-xl-modern", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 23px;
  }
  .section2 {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5rem;
  }

  .posesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
  }
  .pose {
    padding-bottom: 5rem;
    margin: 2rem;
  }

  .productshow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    /* margin: 2rem; */
    /* padding: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0; */
  }

  .poseshow {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
    /* padding: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0; */
  }
  .yogah2 {
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;
    padding-bottom: 5rem;
    padding-top: 2rem;
    font-family: "quiche-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #584c46;
    font-size: 1.5rem;
    letter-spacing: 0.07rem;
  }
  .section1 {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5rem;
  }

  .yogatypesection {
    display: flex;
    flex-direction: column;
  }

  .yogatypesection h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* .section3 {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  } */

  .music {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .col {
    margin: 2rem;
  }
  .grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5rem;
    margin: 2rem;
    padding: 8%;
    /* text-align: center; */
    row-gap: 5rem;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 5rem;
  }

  .smallProduct {
    /* background-color: rgba(251, 251, 251, 0.579);
    padding: 2rem; */
    padding-bottom: 1rem;
    border-bottom: 1px solid;
    color: #584c46;
  }
}
